:root {
    --black: #2f2e2c;
    --darkgrey: #aba6a1;
    --lightgrey: #efe3e2;
    --beige: #f7f2ef;
    --whitebg: #e4e4e3;
}

/* GLOBAL STYLING */
html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

header,
section {
    padding: 3rem 0;
}

body {
    font-family: 'Montserrat', "Helvetica", sans-serif;
    font-size: 1.3125rem;
    background-color: #222;
    /* background-color: #2f2e2c; */
    color: #fff;
}



img {
    max-width: 100%;
    display: block;
    outline: 2px solid white;
    outline-offset: -6px;
}

/* @media (min-width: 40em) {
    header,
    section {
        padding: 7rem 0;
    }
} */


section {
    /* background-color: var(--beige); */
    background-color: var(--whitebg);
    width: 100%;
    height: 100vh;
    padding: 3rem 0;

}

section h2, p {
    color: var(--black);
}


.container {
    /* padding: 0 1em; */
    margin-inline: auto;
    width: min(90%, 100.5rem); /* responsive width */
    max-height: 100vh;
    /* border: 2px solid red; */
    background-color: white;
    box-shadow: 0px 0px 10px var(--darkgrey);
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%; /* ideal width */
    }


    .split > * + * { /* Adjacency selector: any element that has a sibiling before it*/
        margin-left: 2em;
    }
}


.header {
    font-family: 'Times New Roman', Times, serif;
    color: #222;
    text-align: center;
    font-weight: lighter;
    font-size: 3em;
    margin-bottom: 3rem;
}


/* SECTIONS */

/* Allign all text horizontally and vertically */
.outer {
  display: table;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh; /* vh will match the size of the device's screen */
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  /* Whatever width you want */
  text-align: center;
}


/* Nicolas Ahn */
.logo {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 100px;
}

/* TODO: Random Quote */
.inner > p {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 25px;
    font-weight: 300; /*TODO: check difference*/
}

#icons > ul > li {
    display: inline-block;
    margin-left: 10px;
    /* margin-right: 10px; */
    /* margin-bottom: 20px; */
    /* margin-top: -10; */
    position: relative;
}


/* Nav Bar */
nav ul {
    /* get rid of bullet lines */
    list-style: none;
    /* center ul */
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

nav li {
    font-size: 40px;
    font-weight: bold; /* TODO: monteserrat: bold*/
    margin: 15px 0;
}

nav ul > li > a {
    /* get rid of underline in links */
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #808080;
}



/* scroll-up button */
.to-top {
    background: white;
    /* button placement */
    position: fixed;
    bottom: 16px; 
    right: 32px;

    /* button dimensions */
    width: 50px;
    height: 50px;
    border-radius: 50%; /* turn into circle */

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0; 
    pointer-events: none;
    transition: all .4s;
    
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto; /* sets when element can be a target of pointer events */
    opacity:1;
}