body {
    font-family: 'Montserrat', sans-serif;
    background-color: #222;
    color: #fff;
}

.logo {
    text-align: center;
    /* color: #fff */
}

/* .container {
    text-align: center;
    padding: 70px;
} */

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /* Whatever width you want */
  text-align: center;
}

.inner > p {
    margin-top: -10px;
}

#icons > ul > li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -10;
    position: relative;
}

nav ul {
    /* get rid of bullet lines */
    list-style: none;
    /* center ul */
    margin: 0;
    padding: 0;
    font-weight: bold;
}

nav li {
    margin-top: 10px;
}

nav ul > li > a {
    /* get rid of underline in links */
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #808080
}